.contact__container{
    row-gap: 2.5rem;
}
.contact__content{
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
}
.contact__box{
    background-color: #fff;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    transition: 0.4s;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}
.contact__icon, .contact__title{
    color: var(--first-color);
}
.contact__icon{
    font-size: 2rem;
}
.contact__title{
    font-size: var(--h3-font-size);
    margin: var(--mb-3 0);
}
.contact__social{
    color: var(--first-color-light);
    font-size: 1.25rem;
    margin: 0 var(--mb-1);
}
.contact__box:hover{
    box-shadow: 0 6px 8px rgba(174, 190, 205, .3);
    transform: translateY(-0.5rem);
}

@media  (min-width:576px) {
    .contact__container{
      grid-template-columns: repeat(2,1fr) ;
    }
  }